body{
    background-image: url("https://cdn.pixabay.com/photo/2018/01/25/08/14/tangerines-3105628_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1, h2, h6{
    text-shadow: 2px 4px 3px #0000004d;
}

main{
    height: 550px;
    position: relative;
}

#forms-container{
    height: 80%;
    width: 25%;
}

.form__container{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.table__container{
    background-color: #f5f5f5e7;
    position: relative;
    border-radius: 5px;
    height: 80%;
    overflow-y: scroll;
}

#factura{
    display: none;
}

table{
    min-width: 480px;
}

td, th{
    text-align: center;
}

.forms{
    box-shadow: #0000003d 0px 3px 8px;
    position: absolute;
    width: 100%;
    transition: transform .5s;
}

#form-2{
    transform: translateX(100%);
}

.error-msg, #loading, #btn-volver{
   display: none;
}